@use  '../mixins'  as *;

.section_event {
  margin-top: 80px;
  .lecture-info {
    display: flex;
    align-items: center;
    gap: 64px;
    @include mobile {
      height: 565px;
      gap: initial;
    }
    &__image {
      position: relative;
      width: 394px;
      min-width: 394px;
      height: 250px;
      border-radius: 50%;
      overflow: hidden;
      @include mobile {
        position: absolute;
        width: 100%;
        height: 212px;
        min-width: 100%;
      }
      .img-people {
        width: 100%;
        height: auto;
        transform: translateY(-44px);
      }
      .img-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        mix-blend-mode: color-burn;
        width: 100%;
        height: auto;
      }
    }
    &__text {
      .text-part {
        display: inline;
      }
      @include mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }
    }
  }
  .session-info {
    display: flex;
    gap: 17px;
    margin-top: 64px;
    @include mobile {
      margin-top: 34px;
      flex-direction: column;
      gap: 24px;
    }
    &__text {
      flex: 1;
    }
    &__image {
      position: relative;
      width: 500px;
      @include mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
      .img-human {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 526px;
        height: auto;
        @include mobile {
          position: relative;
          top: initial;
          right: initial;
          transform: initial;
          width: 100vw;
          width: 100dvw;
        }
      }
      .img-overlay {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        max-width: none;  
        height: auto;
        mix-blend-mode: color-burn;
        @include mobile {
          width: 100vw;
          width: 100dvw;
          right: initial;
        }
      }
    }
    .table {
      position: relative;
      margin-top: 60px;
      width: 100%;
      &__line {
        display: flex;
        padding: 16px 0;
        border-top: 2px solid #D0D0D0;
        font-size: 20px;
        line-height: 120%;
        @include mobile {
          flex-direction: column;
          gap: 12px;
        }
        &:first-child {
          padding-top: 0;
          border-top: 0;
          .table__header::after {
            top: 0;
            height: calc(100% + 16px);
          }
        }
        &:last-child {
          padding-bottom: 0;
          .table__header::after {
            top: -16px;
            height: calc(100% + 16px);
          }
        }
      }
      &__header {
        position: relative;
        opacity: .7;
        width: 43%;
        &::after {
          content: '';
          position: absolute;
          top: -16px;
          right: 0;
          width: 2px;
          height: calc(100% + 32px);
          background: #D0D0D0;
        }
        @include mobile {
          width: 100%;
          &::after {
            content: none;
          }
        }
      }
      &__info {
        flex: 1;
        font-weight: 600;
        padding-left: 16px;
        .discount {
          margin-right: 12px;
        }
        @include mobile {
          padding-left: 0;  
        }
      }
    }
    &__support {
      margin-top: 48px;
      font-size: 20px;
      line-height: 120%;
      color: var(--text-accent);
      @include mobile {
        font-size: 18px;  
      }
    }
  }
}