@use  '../mixins'  as *;

.section_stages {
  margin-top: 200px;
  @include tablet {
    margin-top: 120px;  
  }
  .title {
    &__wrapper-subtitle {
      position: relative;
      width: fit-content;
    }
    &__subtitle {
      position: absolute;
      bottom: 10px;
      left: 100%;
      width: 280px;
      margin-left: 21px;
      font-family: Golos-Text, sans-serif;
      font-size: 20px;
      color: var(--text-accent);
      font-weight: 400;
      text-transform: none;
      line-height: 120%;
      @include laptop {
        font-size: 18px;
        bottom: 2px;
      }
      @include tablet {
        position: relative;
        bottom: initial;
        left: initial;
        width: 100%;
        margin: 12px 0 0;
      }
    }
  }
  .stages {
    position: relative;
    margin-top: 54px;
    @include desktop {
      margin-top: 55px;
      padding-top: 93px;
    }
    &__inner {
      position: relative;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      width: 100%;
      height: 400px;
      will-change: transform, mix-blend-mode;
      @include desktop {
        height: 300px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 20px;
      }
      @include tablet {
        display: flex;
        height: 300px;
      }
    }
    &__item {
      position: relative;
      display: flex;
      gap: 20px;
      &:first-child {
        grid-area: 1 / 1 / 2 / 3;
      }
      &:nth-child(2) {
        grid-area: 1 / 3 / 3 / 4;
      }
      &:nth-child(3) {
        grid-area: 2 / 1 / 3 / 3;
      }
      &:last-child {
        grid-area: 3 / 2 / 4 / 4;
        .stage__text {
          width: 446px;
        }
      }
      @include desktop {
        flex-direction: column;
        flex: 0 0 calc((100% - (20px * 2)) / 3); 
        max-width: calc((100% - (20px * 2)) / 3);
        padding: 62px 24px 34px 20px;
        gap: 28px;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          background-image: url('/src/assets/images/pages/stages/background.webp');
          background-repeat: no-repeat;
          background-size: cover;
          opacity: .8;
        }
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          background-image: url('/src/assets/images/pages/stages/textures.webp');
          background-repeat: no-repeat;
          background-size: cover;
          mix-blend-mode: color-burn;
        }
      }
      @include laptop {
        flex: 0 0 calc((100% - 20px) / 2);
        max-width: calc((100% - 20px) / 2);
      }
      @include tablet {
        min-width: 100%;
        height: 100%;
      }
    }
    &__img-plane {
      position: absolute;
      right: -51px;
      bottom: 45px;
      padding: 0;
      transform: rotate(-15deg);
      @include desktop {
        bottom: initial;
        top: 0;
        transform: rotate(-19deg);
        width: 318px;
        right: initial;
        left: 18px;
      }
      &::after {
        content: none;
      }
      &::before {
        content: none;
      }
    }
    .controls {
      margin-top: 28px;
      display: none;
      justify-content: center;
      gap: 16px;
      @include desktop {
        display: flex;
      }
    }
    .stage {
      position: relative;
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      gap: 16px;
      flex: 1;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background-image: url('/src/assets/images/pages/stages/background.webp');
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .8;
      }
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background-image: url('/src/assets/images/pages/stages/textures.webp');
        background-repeat: no-repeat;
        background-size: cover;
        mix-blend-mode: color-burn;
      }
      &__number {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background: #fff;
        font-weight: 600;
        z-index: 1;
      }
      &__text {
        font-size: 20px;
        font-weight: 500;
        line-height: 120%;
        z-index: 1;
        @include desktop {
          font-size: 18px;
        }
      }
      @include desktop {
        padding: 0;
        flex: initial;
        &::before {
          content: none;
        }
        &::after {
          content: none;
        }
      }
    }
  }
}