@use  '../mixins'  as *;

.footer {
  position: relative;
  padding: 100px 0 72px;
  width: 100%;
  display: flex;
  justify-content: center;
  @include tablet {
    padding: 78px 0 60px;
  }
  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100dvw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--main-bg);
  }
  .running-line {
    top: 0;
    bottom: initial;
  }
  &__text {
    width: 100%;
    max-width: 1222px;
    font-weight: 400;
    line-height: 120%;
    opacity: .6;
  }
}