@font-face {
  font-family: Golos-Text;
  src: url('../assets/fonts/Golos-Text-Regular.woff2') format('woff2'),
       url('../assets/fonts/Golos-Text-Regular.woff') format('woff');;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Golos-Text;
  src: url('../assets/fonts/Golos-Text-Medium.woff2') format('woff2'),
       url('../assets/fonts/Golos-Text-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Golos-Text;
  src: url('../assets/fonts/Golos-Text-SemiBold.woff2') format('woff2'),
       url('../assets/fonts/Golos-Text-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Golos-Text;
  src: url('../assets/fonts/Golos-Text-Bold.woff2') format('woff2'),
       url('../assets/fonts/Golos-Text-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Merriweather;
  src: url('../assets/fonts/Merriweather-Regular.woff2') format('woff2'),
       url('../assets/fonts/Merriweather-Regular.woff') format('woff');
  font-weight: 700; ;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Merriweather;
  src: url('../assets/fonts/Merriweather-Bold.woff2') format('woff2'),
       url('../assets/fonts/Merriweather-Bold.woff') format('woff');
  font-weight: 700; 
  font-style: normal;
  font-display: swap;
}