@use  'mixins'  as *;
@use  'fonts';
@use  'color';
@use  'modern-normalize';
@use  'animations';
@use  'layout/header';
@use  'layout/footer';
@use  'sections/home';
@use  'sections/event';
@use  'sections/stages';
@use  'sections/participants';

* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  color: var(--main-color);
  overflow: hidden;
  font-family: Golos-Text, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--main-color);
  background-color: #FFFFFF;
}

body {
  position: relative;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden scroll;
  padding: 0 20px;
}


.page__wrapper {
  position: relative;
  width: 100%;
  height: fit-content;
  max-width: 1222px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.running-line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: var(--text-highlighting);
  display: flex;
  align-items: center;
  width: 100vw;
  width: 100dvw;
  height: 60px;
  font-family: Merriweather;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 110%;
  white-space: nowrap;
  color: #fff;
  overflow: hidden;
  z-index: 2;
  @include tablet {
    height: 38px;
    font-size: 16px;
  }
  &__inner {
    display: flex;
    align-items: center;
    gap: 12px;
    animation: running-line 25s linear infinite;
  }
  &__text {
    position: relative;
    padding-left: 16px;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #fff;
    }
  }
}

.section {
  position: relative;
}


.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    min-width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: var(--button-round-default);
    transition: background-color (--anim-duration);
    &_next {
      svg {
        transform: rotate(180deg);
      }
    }
    &_disabled {
      cursor: default;
      background-color: var(--button-round-disabled);
    }
    svg {
      fill: transparent;
    }
  }
  &__total-elements,
  &__separator {
    opacity: .6;
  }
  &__dots {
    display: flex;
    gap: 6px;
    .dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--button-round-disabled);
      transition: background-color var(--anim-duration);
      &_active {
        background-color: var(--button-round-default);
      }
    }
  }
}

.more {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  color: var(--text-accent);
  border: 1px solid var(--text-accent);
  border-radius: 62px;
  width: fit-content;
  height: 35px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--button-more-default);
  border: 1px solid var(--button-more-hover);
  transition: background-color var(--anim-duration), color var(--anim-duration);
}

.button-big {
  height: 72px;
  width: 263px;
  border-radius: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--anim-duration), color var(--anim-duration);
  font-weight: 500;
  line-height: 130%;
  text-align: center;
  @include mobile {
    height: 47px;
    width: 100%;
    br {
      display: none;
    }
  }
  &_type-one {
    color: #fff;
    background-color: var(--button-big-one-default);
  }
  &_type-two {
    color: var(--button-big-two-hover);
    border: 2px solid var(--button-big-two-hover);
    background-color: var(--button-big-two-default);
    box-sizing: border-box;
    @include desktop {
      border: none;
      background-color: rgba($color: #fff, $alpha: .9);
    }
  }
}

.discount {
  text-decoration-line: line-through;
  text-decoration-color: var(--text-highlighting);
  text-decoration-thickness: 2px;
}


h1, h2, h3, h4, h5, h6 {
  font-family: Merriweather;
  font-weight: normal;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 60px;
  line-height: 110%;
  @include laptop {
    font-size: 36px;
    line-height: 110%;
  }
}

h2 {
  font-size: 54px;
  line-height: 120%;
  @include laptop {
    font-size: 36px;
    line-height: 110%;
  }
}

h3 {
  font-size: 36px;
  line-height: 135%;
  @include laptop {
    font-size: 28px;
  }
}

.highlighting {
  font-weight: 700;
  color: var(--text-highlighting);
}

@media (hover: hover) {
  .controls__button:not(.controls__button_disabled):hover {
    background-color: var(--button-round-hover);
  }
  .more:hover {
    background-color: var(--button-more-hover);
    color: #fff;
  }
  .button-big {
    &_type-one:hover {
      background-color: var(--button-big-one-hover);
      color: var(--button-big-one-default);
    }
    &_type-two:hover {
      background-color: var(--button-big-two-hover);
      color: #fff;
    }
  }
}
